/@tiny/sqlite/node_modules
/@tiny/nedb/node_modules
/@tiny/sqlite/.vscode
/@tiny/nedb/.vscode
/@tiny/indexedDB/@tiny
/@tiny/indexedDB/out
/@tiny/nedb/js
/@tiny/sqlite/js

/@tiny/indexedDB/*.js
/@tiny/nedb/*.js
/@tiny/nedb/*.map
/@tiny/nedb/db
/nedb/node_modules
node_modules
/sqlite/*.db
/nedb/db
/indexedDB/.vscode
/mysql/node_modules
