/db/
/node_modules/
/*.js
/*.map
/nedb/*.js
/nedb/*.map
/indexedDB/*.map
/indexedDB/*.js
/mysql/*.map
/mysql/*.js
/nedb/test/*.js
/nedb/test/*.map
/sqlite/*.map
/sqlite/*.js
/mysql/test/*.map
/mysql/test/*.js
/sqlite/test/*.map
/sqlite/test/*.js
